.main_div {
  height: 100%;
  width: 100%;
}
.inner_main_div {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
  background-color: #018374;
  .welcome_text {
    padding-top: 10%;
    font-size: 1.5em;
    color: white;
    text-align: center;
  }
  p {
    font-size: 0.6em;
    color: white;
    text-align: center;
  }
  img {
    height: 70%;
    width: 70%;
    @media (max-width: 812px) {
      height: 100%;
      width: 100%;
    }
  }
  @media (max-width: 812px) {
    height: 100%;
  }
}

.section_boxes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  transform: translateY(40%);
  transition: all 0.3s ease-in-out;
  color: #fcfefd;

  .section_box {
    width: 170px;
    height: 170px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: #008d7d;
    transition: all 0.3s ease-in-out;

    cursor: pointer;
    img {
      height: 50px;
      width: 50px;
    }
    @media (max-width: 598px) {
      display: none;
    }
  }
  :hover {
    background-color: #4fb993;
    color: white;
  }
  @media (max-width: 790px) {
    gap: 5%;
  }
}
