<template>
  <div>
    <v-card flat>
      <v-card-actions>
        <h1>Creación de Equipos</h1>
        <v-spacer></v-spacer>
        <v-btn class="text-none" to="/eventos">Ver lista de Equipos</v-btn>
      </v-card-actions>

      
      <v-form ref="formProduct" v-model="valid" lazy-validation>
        <v-row wrap>
            <v-col cols="4">
              <v-text-field
                v-model="product.agendada"
                label="Agendada"
                :rules="rules.required"
                required
              ></v-text-field>
            </v-col>
            <v-col cols="8">
              <v-text-field
                v-model="product.estado"
                :rules="rules.required"
                label="Estado"
                required
              ></v-text-field>
            </v-col>
  
            <v-col cols="6">
              <v-text-field
                v-model="product.fecha_agendada"
                :rules="rules.required"
                label="Fecha Agendada"
                required
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="product.tipo_evento"
                :rules="rules.required"
                label="Tipo evento"
                required
              ></v-text-field>
            </v-col>
  
            <v-col cols="6">
              <v-text-field
                v-model="product.codigo_equipo"
                :rules="rules.required"
                label="Código equipo"
                required
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="product.codigo_laboratorio"
                :rules="rules.required"
                label="Código laboratorio"
                required
              ></v-text-field>
            </v-col>
            <v-col>
                <v-select
                  v-model="product.estado"
                  :rules="rules.required"
                  :items="categories"
                  label="Estado"
                  required
                ></v-select>
              </v-col>
            
          </v-row>

      <v-btn color="success" @click="saveProduct()">Guardar evento</v-btn>
    </v-form>




    </v-card>
  </div>
</template>

<script>

const url = "https://amu-backend.herokuapp.com/eventos";
export default {
  data: () => ({
    valid: true,
    product: {
    },
    categories: ["bueno", "malo", "en mantenimiento"],
    rules: {
      required: [(v) => !!v || "El campo es obligatorio"],
    },
  }),
  beforeMount() {},

  methods: {
    /**
     * Enviar una solicitud (Request) en un método post
     * Para guardar el producto
     */
     async saveProduct() {
    if (this.$refs.formProduct.validate()) {
      console.log("-- Inicio guardar producto --");
      let product = Object.assign({}, this.product);
      let response = await this.$axios.post(url, product);
        this.$swal.fire({
          type: "success",
          title: "Operación exitosa.",
          text: "El item se guardo correctamente.",
        });
    } else {
      this.$swal.fire({
        type: "warning",
        title: "Formulario incompleto.",
        text: "Hay campos que deben ser diligenciados.",
      });
    }

  },

  },
};
</script>

<style></style>
  